.principal{
    background-color: blueviolet;
    display:flex ;
    flex-direction: column;
   }
   .q{
       width: 200px;
       height: 200px;
       background-color: yellow;
       margin: 20px;
       
   }
   @media screen and (min-width: 600px) and (max-height:900px) {
       
   .principal{
           flex-direction: row;
           background-color: brown;
       }
   .q{
       background-color: red;

   }
}
  